<% if list != nil && list.length != 0 %>
    <b><%= name %></b>
    <ul>
      <% list.each do |item| %>
          <li><%= raw item.gsub(/[\{|\(](\w{2,3}\.\w{1,2}(\.\w{1,2})?)-?[\}|\)]/){link_to $1, {:action => 'index', :q => $1}}
                      .gsub(/\{(\w{2,3})(\.-)?\}/){link_to $1, {:action => 'index', :q => $1}}
                      .gsub(/\{(\w{2,3})-(\w{2,3})\}/){link_to($1, {:action => 'index', :q => $1}) + '-' + link_to($2, {:action => 'index', :q => $2})}
                      .gsub(/\((\d\d\.\d\d)-(\d\d\.\d\d)\)/){link_to($1, {:action => 'index', :q => $1}) + '-' + link_to($2, {:action => 'index', :q => $2})}%></li>
      <% end %>
    </ul>
<% end %>