

/* Style Blue. */


ul#tabnav { /* general settings */
            text-align: left; /* set to left, right or center */
            margin: 1em 0 1em 0; /* set margins as desired */
            font: bold 11px verdana, arial, sans-serif; /* set font as desired */
            border-bottom: 1px solid #6c6; /* set border COLOR as desired */
            list-style-type: none;
            padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
               display: inline;
}

ul#tabnav li a { /* settings for all tab links */
                 padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
                 border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
                 background-color: #b7d4b1; /* set unselected tab background color as desired */
                 color: #666; /* set unselected tab link color as desired */
                 margin-right: 0px; /* set additional spacing between tabs as desired */
                 text-decoration: none;
                 border-bottom: none;
}

#selected_tab { /* settings for selected tab */
                border-bottom: 1px solid #fff; /* set border color to page background color */
                background-color: #fff; /* set background color to match above border color */
}

ul li#selected_tab a { /* settings for selected tab link */
                       background-color: #fff; /* set selected tab background color as desired */
                       /*color: #000; /* set selected tab link color as desired */
                       position: relative;
                       top: 1px;
                       padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav a:hover { /* settings for hover effect */
                    background: #eee; /* set desired hover color */
}

.pseudoLink {
    cursor: hand;
    cursor: pointer;
    color: rgb(59, 114, 184);
}

.codewrapper {
    margin: 0px;
    padding: 0px;
}

.selectSide {
    padding: 0px 0 0 2px;
    height: 17px;
    width: 35px;
    float: left;
    margin-left: 2px;
}

.inputText :disabled {
    background-color: #dddddd;
}

.inputText, .inputTextLong, .inputTextLeft, .inputDate {
    border-color: #9D9FA1;
    font-size: 1em;
    border-style: solid;
    border-width: 1px;
    padding: 2px 0 0 2px;
    width: 100px;
}

.inputDate {
    width: 60px;
    float: left;
    margin-left: 2px;
}

.dateCondition {
    width: 60px;
}

.inputTextLeft {
    clear: both;
    float: left;
}

.inputTextLong {
    width: 200px;
}

.inputSelect {
    border-color: #9D9FA1;
    font-size: 1em;
    border-style: solid;
    border-width: 1px;
    padding: 2px 0 0 2px;
}

input[type="button"], input[type="submit"], .inputButton {
    border-color: #9D9FA1;
    font-size: 1em;
    border-style:double;
    border-width: 2px;
    padding: 2px 2px 2px 2px;
    margin-top: 3px;
}

.buttonLink {
    border-color: #9D9FA1;
    background-color: rgb(220, 220, 220);
    font-size: 10pt;
    color: black;
    border-style:double;
    border-width: 2px;
    padding: 2px 2px 2px 2px;
    margin-top: 3px;
}

.noborder#drgs table {
    border-collapse: collapse;
    border-style: hidden;
}

/* row titles in tables */
.row_title {
    font-weight: bold;
}


.code_proposal_box {
    float: right;
    border: 1px solid rgb(73, 158, 83);
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 3px;
    margin-right: 0px;
    padding: 0px;
    background-color: rgb(212, 236, 219);
    line-height: 1.1;
    border-radius: 10px;
    text-align:left;
}

.code_proposal_box div {
    margin: 10px 5px;
}

.codes_box {
    color: rgb(0,0,0);
    width: 100%;
    float: left;
    border: 1px solid rgb(149, 162, 189);
    background-color: rgb(232, 236, 240);
    line-height: 1.1;
    padding: 0px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    margin-right: 3px;
}

.adm_box {
    border: 1px solid rgb(189, 173, 149);
    background-color: rgb(243, 242, 240);
}

.code_input_div {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:2px;
}

.code_description {
    margin-top: 0px;
    margin-bottom: 2px;
    padding-top: 0px;
    padding-bottom: 2px;
    line-height: 1.1;
}

.code_description a {
    color: black;
}

.delete_button {
    border:none;
    cursor: hand;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    float: left;
}

.delete_button_array_list {
    border:none;
    cursor: hand;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    margin-left: -5px;
}

.swap_sdx {
    float: left;
    margin: 0px;
    margin-left: 12px;
    cursor: hand;
    cursor: pointer;
}

.swap_sdx img {
    border:none;
    padding-bottom: 0px;
}


.noborder, .noborder tr, .noborder th, .noborder td { border: none; }



/* This controls the width of the fluid width layouts */

div.fluid
{
    width: 90% !important;
}

li a, p {
    font-size: 10pt;
}

.bold {
    font-weight: bold;
}

form div {
    margin: 10px 5px;
}



label {
    margin: 5px 0px;
}

/* This controls the width of the fixed width layouts */

div.fixed
{
    width: 1024px !important;
}

#flash {
    background: #FFF6BF;
    border-top: 2px solid #FFD324;
    border-bottom: 2px solid #FFD324;
    text-align: center;
    margin: 10px auto;
    padding: 5px 20px;
}

#alert {
    background: #F8E0CC;
    border-top: 2px solid #ff002e;
    border-bottom: 2px solid #ff002e;
    text-align: center;
    margin: 10px auto;
    padding: 5px 20px;
}

td.gray {
    background-color : #f4f4f4;
}
/* Basic Stuff */
*
{
    margin: 0em;
    padding: 0em;
}

body
{
    background-color: #fff;
    color: #585858;
    font-size: 10pt;
    font-family: "trebuchet ms", helvetica, sans-serif;
    margin:0px;
    padding:0px;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: normal;
    letter-spacing: -1px;
}

h3,h4,h5,h6
{
    margin-top: 15px;
    color: #184366;
}

td, td.normal, td.gray {
    padding: 2px 8px;
}

h1 span
{
    font-weight: bold;
}

h3 span
{
    font-weight: bold;
}

h4 span
{
    font-weight: bold;
}

br.clear
{
    clear: both;
}

img
{
    padding: 3px;
    border: solid 1px #e1e1e1;
}

img.floatTL
{
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

a
{
    text-decoration: underline;
    color: rgb(59, 114, 184);
}

a, a:hover
{
    text-decoration: none;
}

ul.links
{
    list-style: none;
}

/* Header */
#header
{
    width:100%;
    height:100px;
    background: rgb(215, 226, 236) ;
}

#header_inner
{
    position: relative;
    width: 950px;
    height:100px;
    margin: 0 auto;
}

/* Logo */

#logo
{
    position: absolute;
    top: 1.0em;
    text-align:center;
}

#logo h1
{
    display: inline;
    color: rgb(85, 112, 122);
    font-size: 2em;
}

#logo a
{
   color: rgb(85, 112, 122);
}

#logo h2
{
    display: inline;
    padding-left: 0.5em;
    color: #7e2c1f;
    font-size: 0.8em;
}

/* Menu */

#menu
{
    position: absolute;
    left: 0em;
    bottom: 0em;
}

#nav{
    list-style:none;
    font-weight:bold;
    margin-bottom:0px;
    /* Clear floats */
    float:left;
    width:100%;
    /* Bring the nav above everything else--uncomment if needed. */
    position:relative;
    z-index:5;
}

#nav li{
    float:left;
    margin-right:0px;
    position:relative;
}
#nav a{
    margin-left: 0.5em;
    display: block;
    padding: 1.1em 1.4em 1.0em 1.4em;
    background: #fff url('images_blue/n4.gif') repeat-x;
    border: solid 1px #fff;
    color: #616161;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
}
#nav a:hover{
    color:#fff;
    background:rgb(173, 196, 226);
}

#nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background:rgb(173, 196, 226);
 }
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background: rgb(173, 196, 226);
}

/* Main */

#main
{
    background: #fff url('images_blue/n2.gif') 0px 1px repeat-x;
}

#main_inner p
{
    text-align: justify;
    margin-bottom: 2.0em;
}

#main_inner ul
{
    margin-bottom: 2.0em;
    margin-left: 2.0em;
}

#main_inner
{
    position: relative;
    width: 950px;
    margin: 0 auto;
    padding-top: 1.5em;
}

#main_inner h3,h4
{
    border-bottom: dotted 1px #E1E1E1;
    position: relative;
}

#main_inner h3
{
    font-size: 1.5em;
    padding-bottom: 0.1em;
    margin-bottom: 0.8em;
}

#main_inner h4
{
    font-size: 1.2em;
    padding-bottom: 0.175em;
    margin-bottom: 1.4em;
    margin-top: 0.95em;
}

#main_inner .post
{
    position: relative;
}

#main_inner .post h3
{
    position: relative;
    font-size: 1.5em;
    padding-bottom: 1.2em;
}

#main_inner .post ul.post_info
{
    list-style: none;
    position: absolute;
    top: 3em;
    font-size: 0.8em;
}

#main_inner .post ul.post_info li
{
    background-position: 0em 0.2em;
    background-repeat: no-repeat;
    display: inline;
    padding-left: 18px;
}

#main_inner .post ul.post_info li.date
{
    background-image: url('images_blue/n5.gif');
}

#main_inner .post ul.post_info li.comments
{
    background-image: url('images_blue/n6.gif');
    margin-left: 1.1em;
}

/* Footer */

#footer
{
    width: 950px;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border-top: dotted 1px #E1E1E1;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    padding-top: 1.0em;
}

/* Search */

input.button
{
    background: #FF790B url('images_blue/n3.gif') repeat-x;
    color: #fff;
    border: solid 1px #DB7623;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 0.8em;
    height: 2.0em;
}

input.text
{
    border: solid 1px #F1F1F1;
    font-size: 1.0em;
    padding: 0.25em 0.25em 0.25em 0.25em;
}

#search
{
    position: relative;
    width: 100%;
    margin-bottom: 2.0em;
}

#search input.text
{
    position: absolute;
    top: 0em;
    left: 0em;
    width: 9.5em;
}

#search input.button
{
    position: absolute;
    top: 0em;
    right: 0em;
    min-width: 2.0em;
    max-width: 2.5em;
}

/* LAYOUT - 3 COLUMNS */

/* Primary content */

#primaryContent_3columns
{
    position: relative;
    margin-right: 34em;
}

#columnA_3columns
{
    position: relative;
    float: left;
    width: 100%;
    margin-right: -34em;
    padding-right: 2em;
}

/* Secondary Content */

#secondaryContent_3columns
{
    float: right;
}

#columnB_3columns
{
    width: 13.0em;
    float: left;
    padding: 0em 2em 0.5em 2em;
    border-left: dotted 1px #E1E1E1;
}

#columnC_3columns
{
    width: 13.0em;
    float: left;
    padding: 0em 0em 0.5em 2em;
    border-left: dotted 1px #E1E1E1;
}

/* LAYOUT - 2 COLUMNS */

/* Primary content */

#primaryContent_2columns
{
    position: relative;
    margin-right: 17em;
}

#columnA_2columns
{
    position: relative;
    float: left;
    width: 100%;
    margin-right: -17em;
    padding-right: 2em;
}

/* Secondary Content */

#secondaryContent_2columns
{
    float: right;
}

#columnC_2columns
{
    width: 13.0em;
    float: left;
    padding: 0em 0em 0.5em 2em;
    border-left: dotted 1px #E1E1E1;
}

/* LAYOUT - COLUMNLESS */

/* Primary content */

#primaryContent_columnless
{
    position: relative;
}

#columnA_columnless
{
    position: relative;
    width: 100%;
}


table {
    font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}


/* Table styling */

th {
    padding: 0 0.5em;
    text-align: center;
}

th {
    border: 2px solid rgb(184, 177, 177);;
    background: rgb(215, 226, 236);
}

td {
    border: 1px solid #CCC;
}

td+td {
    border-left: 1px solid #CCC;
    text-align: left;
}

ol {
    color:blue;
    font-size:1.4em;
    font-weight: bold;
    font-family:Sans, serif;
    margin-left:0.9em;
    padding-left:0.9em;
}

ol p {
    color: #585858;
    font-size: 10pt;
    font-family: "trebuchet ms", helvetica, sans-serif;
    font-weight: normal;
}

