<h2>MDC  <%= @mdc.code %>
  <small><%= @mdc.text locale %></small>
</h2>

<p>
  <%= render(:partial => 'partials/codelist_without_search', :locals => {:codes => @codes}) %>
</p>
</div>
<br/>
<%= link_to t('back_to_mdc'), mdcs_path %>
