// import the CSS framework
@import "foundation";

.light-font {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  z-index: 2;
  position: relative;
  nav {
    &.top-bar {
      margin-bottom: 1.5em;
      ul {
        &.title-area {
          li {
            &.name {
              h1 {
                @extend .light-font;
                color: #ffffff;
                padding: 0 2em;
              }
            }
          }
        }
      }

      section {
        li {
          @extend .noselect;
          background-color: transparent;
          a {
            @extend .light-font;
            min-width: 7em;
            &:hover {
              background: rgba(0, 0, 0, 0.2) !important;
            }
          }

          &.active {

            &.language {
              &:after {
                border-top-color: transparent;
              }
            }

            &:after {
              top: 100%;
              left: 0%;
              bottom: -11px;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: relative;
              pointer-events: none;
              border-top-color: #008CBA;
              border-width: 15px;
            }

            a {
              &:hover {
                background: #008CBA !important;
              }
            }
          }

        }
      }
    }
  }
}

.search {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  a { margin-bottom: 0; padding-left: 0; padding-right: 0}

  div {
    &:first-child::after {
      @extend .light-font;
      content: 'x';
      position: absolute;
      right: 0.9375rem;
      top: 0;
      bottom: 0;
      vertical-align: -50%;
      height: 1.4rem;
      line-height: 1.3rem;
      margin: auto;
      width: 1.25em;
      text-align: center;
      font-size: 1.5rem;
      color: #afafaf;
      cursor: pointer;
    }

    input {
      margin-bottom: 0;
    }
  }
}

.alphabetical-selector {
  @extend .light-font;
  div {

    &.name {
      padding-left: 0.9375rem * 2;
    }

    &.navigation {
      margin: 0;
    }

    &.panel {
      padding: 0.3em 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: 1.5em;
      border-color: rgb(225, 225, 225);
      background-color: #ffffff;

      p {
        font-size: 0.8rem;
        color: gray;
        vertical-align: middle;

        kbd {
          font-size: 0.75rem;
          vertical-align: middle;
          color: #696969;
        }
      }
    }

    dl.sub-nav {
      margin: 0 0.5em;
      padding-top: 0;

      dd {
        font-size: 1em;
        padding: 0;
        margin: 0;
        border-right: 0 solid #dfdfdf;

        a {
          color: #008CBA;
          font-weight: 300;
          padding: 0 0.5em;
          margin: 0;
        }

        &.active {
          a { color: #ffffff; }
        }

        &.inactive {
          a {
            color: #d4d4d4;
            pointer-events: none;
            cursor: default;
          }
        }

        &:last-of-type {
          border-right: none;
        }
      }
    }

    &.fixed {

      &.navigation {
        margin: 0;
      }

      dl.sub-nav {
        dd {
          padding: 0 0.5em;
          a {
            color: gray;
            padding: 0.1875rem 1rem;
          }

          &.active {
            a {
              color: #ffffff;
            }
          }

          &.inactive {
            a {
              color: #e6e6e6;
            }
          }
        }
      }
    }
  }

  div.inline-block {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    ul {
      li {
        font-size: 0.95em;
        &.selected {
          a {
            text-decoration: underline;
            color: #1c1c1c;

            &:after {
              content: "";
            }
          }
        }

        &.expand {
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 74, 112, 0.075);
          }
        }

        &.marked {
          span {
            &.label {
              background-color: #43AC6A;
              color: #ffffff;
              display: inline-block;
            }
          }

          a {
            max-width: 87%;
            text-overflow: clip;
          }
        }

        a {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: inline-block;
          max-width: 100%;
          vertical-align: top;
        }

        span {
          &.label {
            @extend .light-font;
            display: none;
            float: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 12%;
            cursor: pointer;
            margin-top: 0.3em;
          }
        }

        &:hover {

          &.selected {
            a {
              &:after {
                content: "";
              }
            }
          }

          a {
            max-width: 87%;
            text-overflow: clip;

            &:after {
              content: " .........................................................................................................................................";
              color: #e1e1e1;
              font-size: 0.6rem;
            }
          }

          span {
            &.label {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

$breadcrumb-dropdown-padding: 0.75em;
ul {
  &.breadcrumbs {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff;
    li {
      font-size: 0.75em;
      text-transform: none;
      padding-top: $breadcrumb-dropdown-padding;
      padding-bottom: $breadcrumb-dropdown-padding;
      &.has-dropdown {
        ul {
          &.dropdown {
            list-style: none;
            display: none;
            position: absolute;
            margin-left: 0.75rem * 2 + 0.22rem;
            margin-top: $breadcrumb-dropdown-padding - 0.2em;
            z-index: 5;
            border: 1px solid #dcdcdc;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top-width: 0;
            background-color: #ffffff;
            padding-left: 1em;
            padding-right: 1em;
            padding-bottom: 0.5em;

            li {
              padding-top: 0;
              padding-bottom: 0;

              &.selected {
                a {
                  color: #222222 !important;
                  text-decoration: underline !important;
                  pointer-events: none;
                }
              }

              a{
                padding-top: 0.1em;
                padding-bottom: 0.1em;
                cursor: pointer !important;
              }
            }
          }
        }

        &:hover {
          ul {
            &.dropdown {
              display: block;

              li {
                a {
                  text-decoration: none;
                  color: #008CBA;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }

      &:first-of-type {
        &.has-dropdown {
          ul {
            &.dropdown {
              margin-left: -0.75em;
            }
          }
        }
      }
    }
  }
}

.code-visualisations {
  position: fixed;
  width: inherit;
  overflow: scroll;
  height: 100%;
  margin-left: 1em;

  div {
    &.tabulator {

    }
  }

  ul {
    $line-height: 1.8rem;

    &.labels-cloud {
      min-height: $line-height;
      margin-left: -1rem;
      margin-top: 0;
      margin-bottom: 0;

      li {
        margin-left: 1rem;
        margin-top: 0;
        margin-bottom: 0.9rem;

        span {
          &.label {
            cursor: pointer;

            &:after {
              @extend .light-font;
              content: ' x';
              font-size: 0.8rem;
              margin-left: 0.2em;
            }

            &:hover {
              background-color: #45c581;
            }
          }
        }

        &.panel {
          @extend .light-font;
          height: $line-height - 0.1rem;
          padding-top: 0;
          padding-bottom: 0;
          margin: 0 0 0.5rem 1rem;
          border-color: #92d9eb;

          p {
            line-height: $line-height - 0.2rem;
            font-size: 0.8rem;

            kbd {
              @extend .light-font;
              padding-top: 0;
              font-size: 0.7rem;
              padding-bottom: 0.08rem;
            }
          }

        }
      }
    }

    &.chart-buttons {
      li {
        border: 1px solid #e1e1e1;
        border-radius: 3px;

        a {
          padding: 0.3em;
        }

        img {
          opacity: 0.6;
          filter: alpha(opacity=60);
          max-height: 3em;
        }

        &.active {
          border-color: #008CBA;

          img {
            opacity: 1;
            filter: alpha(opacity=100);
          }
        }

        &:hover {
          border-bottom-color: #008CBA;
        }
      }
    }
  }
}

.icd_years {
  ul {
    &.inline-list {
      margin-left: 1rem;

      li {
        &.label {
          @extend .noselect;
          padding: 0.3rem 0.6rem 0.3rem;
          cursor: pointer;
          a {
            @extend .light-font;
            color: #222222;
            font-size: 0.9rem;
          }

          &.success {
            a {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 80%;
  vertical-align: middle;
  overflow: hidden;

  text {
    @extend .light-font;
  }

  svg {
    &.svg-content {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;

      text {
        @extend .light-font;
      }

      line {
        fill: none;
        stroke: #222222;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #222222;
        shape-rendering: crispEdges;
      }
    }
  }
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.absolute {
  position: absolute;
}

.full-width {
  @extend .fill-width;
  max-width: 100%;
}

.full-height {
  @extend .fill-height;
  max-height: 100%;
}

.inline-block {
  display: inline-block;
}

.align-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
