.card {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #ebebeb;
  border-color: #dcdcdc;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;

  &:hover {
    border-color: #a6a6a6;
  }
}

.cardContainer {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  float: left;
  height: 0;
}