// import the CSS framework
@import "foundation";

.light-font {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

header {
  nav {
    &.top-bar {
      margin-bottom: 1.5em;
      ul {
        &.title-area {
          li {
            &.name {
              h1 {
                @extend .light-font;
                color: #ffffff;
                padding: 0 2em;
              }
            }
          }
        }
      }

      section {
        li {
          background-color: transparent;
          a {
            @extend .light-font;
            min-width: 7em;
            &:hover {
              background: rgba(0, 0, 0, 0.2) !important;
            }
          }

          &.active {
            &:after {
              top: 100%;
              left: 0%;
              bottom: -12px;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: relative;
              pointer-events: none;
              border-top-color: #008CBA;
              border-width: 15px;
            }

            a {
              &:hover {
                background: #008CBA !important;
              }
            }
          }

        }
      }
    }
  }
}

.alphabetical-selector {
  @extend .light-font;
  div {

    &.name {
      padding-left: 0.9375rem * 2;
    }

    &.navigation {
      margin: 0 0 1em 0;
    }

    dl.sub-nav {
      margin: 0 0.5em;

      dd {
        font-size: 1em;
        padding: 0;
        margin: 0;
        border-right: 0 solid #dfdfdf;

        a {
          color: #008CBA;
          font-weight: 300;
          padding: 0 0.5em;
          margin: 0;
        }

        &.active {
          a { color: #ffffff; }
        }

        &.inactive {
          a {
            color: #d4d4d4;
            pointer-events: none;
            cursor: default;
          }
        }

        &:last-of-type {
          border-right: none;
        }
      }
    }

    &.fixed {

      &.navigation {
        margin: 0;
      }

      dl.sub-nav {
        dd {
          padding: 0 0.5em;
          a {
            color: gray;
            padding: 0.1875rem 1rem;
          }

          &.active {
            a {
              color: #ffffff;
            }
          }

          &.inactive {
            a {
              color: #e6e6e6;
            }
          }
        }
      }
    }
  }

  div.inline-block {
    ul {
      li {
        font-size: 0.95em;
        &.selected {
          a {
            text-decoration: underline;
            color: #1c1c1c;
          }
        }
      }
    }
  }
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.absolute {
  position: absolute;
}

.full-width {
  @extend .fill-width;
  max-width: 100%;
}

.full-height {
  @extend .fill-height;
  max-height: 100%;
}

.inline-block {
  display: inline-block;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.align-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
