// import the CSS framework
@import "foundation";

.alphabetical-selector {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  ul.inline-list {
    margin: 1em 0.5em;

    li {
      font-size: 1em;
      padding: 0 0.5em;
      margin: 0;
      border-right: 1px solid #dfdfdf;

      &.inactive {
        a {
          color: gray;
          pointer-events: none;
          cursor: default;
        }
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }

  div.inline-block {
    ul {
      li {
        font-size: 0.95em;
        &.selected {
          a {
            text-decoration: underline;
            color: #1c1c1c;
          }
        }
      }
    }
  }
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.inline-block {
  display: inline-block;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.align-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
