// import the CSS framework
@import "foundation";

.alphabetical-selector {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  div {

    &.name {
      padding-left: 0.9375rem * 2;
    }

    &.navigation {
      margin: 0 0 1em 0;
    }

    dl.sub-nav {
      margin: 0 0.5em;

      dd {
        font-size: 1em;
        padding: 0;
        margin: 0;
        border-right: 0 solid #dfdfdf;

        a {
          color: #008CBA;
          font-weight: 300;
          padding: 0 0.5em;
          margin: 0;
        }

        &.active {
          a { color: #ffffff; }
        }

        &.inactive {
          a {
            color: gray;
            pointer-events: none;
            cursor: default;
          }
        }

        &:last-of-type {
          border-right: none;
        }
      }
    }

    &.fixed {

      &.navigation {
        margin: 0;
      }

      dl.sub-nav {
        dd {
          padding: 0 0.5em;
          a {
            color: gray;
            padding: 0.1875rem 1rem;
          }

          &.active {
            a {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  div.inline-block {
    ul {
      li {
        font-size: 0.95em;
        &.selected {
          a {
            text-decoration: underline;
            color: #1c1c1c;
          }
        }
      }
    }
  }
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.inline-block {
  display: inline-block;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.align-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
