.districts {
  fill: none;
  stroke: rgba(255, 255, 255, 0.41);
  stroke-width: .3;
  pointer-events: none;
}

.cantons {
  fill: #747474;
  stroke: rgba(255, 255, 255, 0.61);
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.cantons:hover {
  fill: #afafaf;
}

.cantons.active {
  fill: #949494;
  stroke-width: 1;
}