.districts {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.20);
  stroke-width: .3;
  pointer-events: none
}

.districts.active {
  pointer-events: auto
}

.districts:hover {
  fill: #aeaeae;
}

.cantons {
  //fill: #747474;
  stroke: rgba(255, 255, 255, 0.61);
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.cantons:hover {
  fill: #afafaf;
}

.cantons.active {
  fill: #949494;
  stroke-width: 1;
}