<h1>Contact</h1>
<h3>Adresse:</h3>
<p>
  eonum SA<br />
  Tscharnerstrasse 41<br />
  CH-3007 Bern<br />
  <a href='http://eonum.ch'>www.eonum.ch</a>
</p>
<div>
  E-Mail: <%= mail_to 'info@eonum.ch' %>
</div>
</p>
