<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('site-title') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Foundation" %>">
    <% if ENV['RAILS_ENV'] == 'production' %>
    <link rel="stylesheet" media="all" href="/stylesheets/application.min.css" data-turbolinks-track="true" />
    <% else%>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <% end %>
    <% if ENV['RAILS_ENV'] == 'production' %>
    <script src="/javascripts/application.min.js" type="application/javascript" data-turbolinks-track="true"></script>
    <% else%>
    <%= requirejs_include_tag 'application' %>
    <% end %>
</head>
<body></body>
</html>